@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;600;700&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --color-one: #10002b;
  --color-two: #240046;
  --color-third: #3c096c;
  --color-four: #5a189a;
  --color-five: #7b2cbf;
  --color-six: #9d4edd;
  --color-seven: #c77dff;
  --color-eight: #e0aaff;
} */

:root {
  --background-color: black;
  --font-color: #ced4da
}

.light-mode {
  --background-color: white;
  --font-color: #475569;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.body {
  padding-top: 400px;
  margin-bottom: 20px;
}

.container {
  padding: 0 5%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

@media (min-width: 768px) {
  .body {
    padding-top: 300px
  }
  
  .container {
    padding: 0 10%;
  }
}

